<div class="aside">
	<div class="aside-header">
		<h3 class="aside-title">SiVeO</h3>
		<div class="aside-addon">
			<button class="btn btn-label-primary btn-icon btn-lg" data-toggle="aside">
				<i class="fa fa-times aside-icon-minimize"></i>
				<i class="fa fa-thumbtack aside-icon-maximize"></i>
			</button>
		</div>
	</div>
	<div class="aside-body" data-simplebar data-simplebar-direction="ltr">
		<!-- BEGIN Menu -->
		<div class="menu">
			<div class="menu-item">
				<a href="/" data-menu-path="/index.html" class="menu-item-link">
					<div class="menu-item-icon">
						<i class="fa fa-desktop"></i>
					</div>
					<span class="menu-item-text">Dashboard</span>
				</a>
			</div>
			<!-- BEGIN Menu Section -->
			<div class="menu-item">
				<a href="/ventas" data-menu-path="/form/base.html" class="menu-item-link">
					<div class="menu-item-icon">
						<div class="widget18-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
						</div>
					</div>
					<span class="menu-item-text">Ventas</span>
				</a>
			</div>
			<div class="menu-item">
				<a href="/clientes" data-menu-path="/form/base.html" class="menu-item-link">
					<div class="menu-item-icon">
						<i class="fa fa-address-book"></i>
					</div>
					<span class="menu-item-text">Clientes</span>
				</a>
			</div>
			<div class="menu-item">
				<a href="/proveedores" data-menu-path="/form/base.html" class="menu-item-link">
					<div class="menu-item-icon">
						<i class="fa fa-address-book"></i>
					</div>
					<span class="menu-item-text">Proveedores</span>
				</a>
			</div>
			<div class="menu-item">
				<a href="/factura" data-menu-path="/form/base.html" class="menu-item-link">
					<div class="menu-item-icon">
						<i class="fa fa-address-book"></i>
					</div>
					<span class="menu-item-text">Factura</span>
				</a>
			</div>
			<div class="menu-item">
				<a href="/productos" data-menu-path="/form/base.html" class="menu-item-link">
					<div class="menu-item-icon">
						<i class="fa fa-address-book"></i>
					</div>
					<span class="menu-item-text">Productos</span>
				</a>
			</div>
			<div class="menu-item">
				<a href="/categorias" data-menu-path="/form/base.html" class="menu-item-link">
					<div class="menu-item-icon">
						<i class="fa fa-address-book"></i>
					</div>
					<span class="menu-item-text">Categorías</span>
				</a>
			</div>
			<div class="menu-item">
				<a href="/login" data-menu-path="/form/base.html" class="menu-item-link">
					<div class="menu-item-icon">
						<i class="fa fa-sign-out-alt"></i>
					</div>
					<span class="menu-item-text">Salir</span>
				</a>
			</div>
		</div>
		<!-- END Menu -->
	</div>
</div>