<div class="header">
	<!-- BEGIN Desktop Sticky Header -->
	<div class="sticky-header" id="sticky-header-desktop">
	<!-- BEGIN Header Holder -->
	<div class="header-holder header-holder-desktop">
		<div class="header-container container-fluid g-5">
			<div class="header-wrap header-wrap-block justify-content-start">
				
			</div>
			<div class="header-wrap hstack gap-2">
				<!-- BEGIN Dropdown -->
				<div class="dropdown">
					<button class="btn btn-flat-primary widget13" data-bs-toggle="dropdown">
						<div class="widget13-text"> Hola <strong>Usuario</strong>
						</div>
						<!-- BEGIN Avatar -->
						<div class="avatar avatar-info widget13-avatar">
							<div class="avatar-display">
								<i class="fa fa-user-alt"></i>
							</div>
						</div>
						<!-- END Avatar -->
					</button>
					<div class="dropdown-menu dropdown-menu-wide dropdown-menu-end dropdown-menu-animated overflow-hidden py-0">
						<!-- BEGIN Portlet -->
						<div class="portlet border-0">
							<div class="portlet-header bg-primary rounded-0">
								<!-- BEGIN Rich List Item -->
								<div class="rich-list-item w-100 p-0">
									<div class="rich-list-prepend">
										<!-- BEGIN Avatar -->
										<div class="avatar avatar-label-light avatar-circle">
											<div class="avatar-display">
												<i class="fa fa-user-alt"></i>
											</div>
										</div>
										<!-- END Avatar -->
									</div>
									<div class="rich-list-content">
										<h3 class="rich-list-title text-white">Usuario</h3>
										<span class="rich-list-subtitle text-white">correo.usuario@gmail.com</span>
									</div>
									<div class="rich-list-append">
										<span class="badge badge-label-light fs-6"></span>
									</div>
								</div>
								<!-- END Rich List Item -->
							</div>
							<div class="portlet-footer portlet-footer-bordered rounded-0">
								<a href="/login"><button class="btn btn-label-danger">Cerrar sesion</button></a>
							</div>
						</div>
						<!-- END Portlet -->
					</div>
				</div>
				<!-- END Dropdown -->
			</div>
		</div>
	</div>
	<!-- END Header Holder -->
</div>
	<!-- END Desktop Sticky Header -->
	<!-- BEGIN Header Holder -->
	<div class="header-holder header-holder-desktop">
		<div class="header-container container-fluid g-5">
			<h4 class="header-title">Productos</h4>
			<i class="header-divider"></i>
			<div class="header-wrap header-wrap-block justify-content-start">
				<!-- BEGIN Breadcrumb -->
				<div class="breadcrumb breadcrumb-transparent mb-0">
					<a href="/" class="breadcrumb-item">
						<div class="breadcrumb-icon">
							<i data-feather="home"></i>
						</div>
						<span class="breadcrumb-text">Dashboard</span>
					</a>
				</div>
				<!-- END Breadcrumb -->
			</div>
			<div class="header-wrap">
				<button class="btn btn-label-info btn-icon" id="fullscreen-trigger" data-bs-toggle="tooltip" title="Toggle fullscreen" data-bs-placement="left">
					<i class="fa fa-expand fullscreen-icon-expand"></i>
					<i class="fa fa-compress fullscreen-icon-compress"></i>
				</button>
			</div>
		</div>
	</div>
	<!-- END Header Holder -->
	<!-- BEGIN Mobile Sticky Header -->
	<div class="sticky-header" id="sticky-header-mobile">
		<!-- BEGIN Header Holder -->
		<div class="header-holder header-holder-mobile">
			<div class="header-container container-fluid g-5">
				<div class="header-wrap">
					<button class="btn btn-flat-primary btn-icon" data-toggle="aside">
						<i class="fa fa-bars"></i>
					</button>
				</div>
				<div class="header-wrap header-wrap-block justify-content-start px-3">
					<h4 class="header-brand">SiVeO</h4>
				</div>
				<div class="header-wrap hstack gap-2">
					<button class="btn btn-flat-primary btn-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-todo">
						<i class="far fa-calendar-alt"></i>
					</button>
					<!-- BEGIN Dropdown -->
					<div class="dropdown">
						<button class="btn btn-flat-primary widget13" data-bs-toggle="dropdown">
							<div class="widget13-text"> Hi <strong>User</strong>
							</div>
							<!-- BEGIN Avatar -->
							<div class="avatar avatar-info widget13-avatar">
								<div class="avatar-display">
									<i class="fa fa-user-alt"></i>
								</div>
							</div>
							<!-- END Avatar -->
						</button>
						<div class="dropdown-menu dropdown-menu-wide dropdown-menu-end dropdown-menu-animated overflow-hidden py-0">
							<!-- BEGIN Portlet -->
							<div class="portlet border-0">
								<div class="portlet-header bg-primary rounded-0">
									<!-- BEGIN Rich List Item -->
									<div class="rich-list-item w-100 p-0">
										<div class="rich-list-prepend">
											<!-- BEGIN Avatar -->
											<div class="avatar avatar-label-light avatar-circle">
												<div class="avatar-display">
													<i class="fa fa-user-alt"></i>
												</div>
											</div>
											<!-- END Avatar -->
										</div>
										<div class="rich-list-content">
											<h3 class="rich-list-title text-white">Charlie Stone</h3>
											<span class="rich-list-subtitle text-white">admin@blueupcode.com</span>
										</div>
										<div class="rich-list-append">
											<span class="badge badge-label-light fs-6">9+</span>
										</div>
									</div>
									<!-- END Rich List Item -->
								</div>
								<div class="portlet-footer portlet-footer-bordered rounded-0">
									<button class="btn btn-label-danger">Sign out</button>
								</div>
							</div>
							<!-- END Portlet -->
						</div>
					</div>
					<!-- END Dropdown -->
				</div>
			</div>
		</div>
		<!-- END Header Holder -->
	</div>
	<!-- END Mobile Sticky Header -->
	<!-- BEGIN Header Holder -->
	<div class="header-holder header-holder-mobile">
		<div class="header-container container-fluid g-5">
			<div class="header-wrap header-wrap-block justify-content-start w-100">
				<!-- BEGIN Breadcrumb -->
				<div class="breadcrumb breadcrumb-transparent mb-0">
					<a href="/" class="breadcrumb-item">
						<div class="breadcrumb-icon">
							<i data-feather="home"></i>
						</div>
						<span class="breadcrumb-text">Productos</span>
					</a>
				</div>
				<!-- END Breadcrumb -->
			</div>
		</div>
	</div>
	<!-- END Header Holder -->
</div>